basePath: /api/v1
definitions:
  common.Emotion:
    enum:
    - joy
    - sadness
    - anger
    - surprise
    - fear
    - disgust
    - neutral
    type: string
    x-enum-varnames:
    - EmotionJoy
    - EmotionSadness
    - EmotionAnger
    - EmotionSurprise
    - EmotionFear
    - EmotionDisgust
    - EmotionNeutral
  http.Error:
    properties:
      message:
        type: string
    type: object
  oauth.AuthGoogleHandlerRequest:
    properties:
      code:
        type: string
    type: object
  oauth.AuthGoogleHandlerResponse:
    properties:
      access_token:
        type: string
      refresh_token:
        type: string
    type: object
  oauth.StartGoogleHandlerResponse:
    properties:
      auth_url:
        type: string
    type: object
  user.GetSelfHandlerAdditionPartial:
    properties:
      concerns:
        items:
          type: string
        type: array
      emotions:
        items:
          type: string
        type: array
    type: object
  user.GetSelfHandlerPrivacyPartial:
    properties:
      birthday:
        type: string
      gender:
        type: string
    type: object
  user.GetSelfHandlerResponse:
    properties:
      addition:
        $ref: '#/definitions/user.GetSelfHandlerAdditionPartial'
      email:
        type: string
      id:
        type: integer
      privacy:
        $ref: '#/definitions/user.GetSelfHandlerPrivacyPartial'
      username:
        type: string
    type: object
  user.UpsertAdditionHandlerRequest:
    properties:
      concerns:
        items:
          type: string
        type: array
      emotions:
        items:
          $ref: '#/definitions/common.Emotion'
        type: array
    type: object
  user.UpsertAdditionHandlerResponse:
    properties:
      success:
        type: boolean
    type: object
  user.UpsertPrivacyHandlerRequest:
    properties:
      birthday:
        type: string
      gender:
        type: string
    type: object
  user.UpsertPrivacyHandlerResponse:
    properties:
      success:
        type: boolean
    type: object
host: ondaum.revimal.me
info:
  contact: {}
  description: This is a API server for Ondaum
  title: Ondaum API
  version: "1.0"
paths:
  /oauth/google/auth:
    post:
      consumes:
      - application/json
      description: Receives the authorization code (obtained from Google OAuth) and
        exchanges it for access and refresh tokens.
      operationId: ExchangeGoogleOAuthCode
      parameters:
      - description: Payload containing the authorization code received from Google
          OAuth
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/oauth.AuthGoogleHandlerRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/oauth.AuthGoogleHandlerResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/http.Error'
      summary: Exchange Google OAuth Code for Tokens
      tags:
      - oauth
  /oauth/google/start:
    get:
      consumes:
      - application/json
      description: Returns the Google OAuth authorization URL, which includes the
        specified redirect URI (the URL where Google will send the authorization code
        after login).
      operationId: StartGoogleOAuth
      parameters:
      - description: Redirect URI (the client's callback URL where Google will redirect
          with the code)
        in: query
        name: redirect
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/oauth.StartGoogleHandlerResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.Error'
      summary: Get Google OAuth Authorization URL
      tags:
      - oauth
  /user/addition:
    post:
      consumes:
      - application/json
      description: Updates or creates the user's additional information including
        concerns and emotions.
      operationId: UpsertUserAddition
      parameters:
      - description: User additional information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.UpsertAdditionHandlerRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.UpsertAdditionHandlerResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/http.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/http.Error'
      security:
      - BearerAuth "JWT Bearer token for authentication": []
      summary: Update or Create User Additional Information
      tags:
      - user
  /user/privacy:
    post:
      consumes:
      - application/json
      description: Updates or creates the user's privacy information including gender
        and birthday.
      operationId: UpsertUserPrivacy
      parameters:
      - description: User privacy information
        in: body
        name: request
        required: true
        schema:
          $ref: '#/definitions/user.UpsertPrivacyHandlerRequest'
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.UpsertPrivacyHandlerResponse'
        "400":
          description: Bad Request
          schema:
            $ref: '#/definitions/http.Error'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/http.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/http.Error'
      security:
      - BearerAuth "JWT Bearer token for authentication": []
      summary: Update or Create User Privacy Information
      tags:
      - user
  /user/self:
    get:
      consumes:
      - application/json
      description: Returns the authenticated user's profile, including basic information
        and optional onboarding data.
      operationId: GetSelfUser
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.GetSelfHandlerResponse'
        "401":
          description: Unauthorized
          schema:
            $ref: '#/definitions/http.Error'
        "404":
          description: Not Found
          schema:
            $ref: '#/definitions/http.Error'
        "500":
          description: Internal Server Error
          schema:
            $ref: '#/definitions/http.Error'
      security:
      - BearerAuth "JWT Bearer token for authentication": []
      summary: Get Current Authenticated User Profile
      tags:
      - user
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
