{
    "swagger": "2.0",
    "info": {
        "description": "This is a API server for Ondaum",
        "title": "Ondaum API",
        "contact": {},
        "version": "1.0"
    },
    "host": "ondaum.revimal.me",
    "basePath": "/api/v1",
    "paths": {
        "/oauth/google/auth": {
            "post": {
                "description": "Receives the authorization code (obtained from Google OAuth) and exchanges it for access and refresh tokens.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "Exchange Google OAuth Code for Tokens",
                "operationId": "ExchangeGoogleOAuthCode",
                "parameters": [
                    {
                        "description": "Payload containing the authorization code received from Google OAuth",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/oauth.AuthGoogleHandlerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.AuthGoogleHandlerResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    }
                }
            }
        },
        "/oauth/google/start": {
            "get": {
                "description": "Returns the Google OAuth authorization URL, which includes the specified redirect URI (the URL where Google will send the authorization code after login).",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "oauth"
                ],
                "summary": "Get Google OAuth Authorization URL",
                "operationId": "StartGoogleOAuth",
                "parameters": [
                    {
                        "type": "string",
                        "description": "Redirect URI (the client's callback URL where Google will redirect with the code)",
                        "name": "redirect",
                        "in": "query",
                        "required": true
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/oauth.StartGoogleHandlerResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    }
                }
            }
        },
        "/user/addition": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Updates or creates the user's additional information including concerns and emotions.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Update or Create User Additional Information",
                "operationId": "UpsertUserAddition",
                "parameters": [
                    {
                        "description": "User additional information",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user.UpsertAdditionHandlerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.UpsertAdditionHandlerResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    }
                }
            }
        },
        "/user/privacy": {
            "put": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Updates or creates the user's privacy information including gender and birthday.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Update or Create User Privacy Information",
                "operationId": "UpsertUserPrivacy",
                "parameters": [
                    {
                        "description": "User privacy information",
                        "name": "request",
                        "in": "body",
                        "required": true,
                        "schema": {
                            "$ref": "#/definitions/user.UpsertPrivacyHandlerRequest"
                        }
                    }
                ],
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.UpsertPrivacyHandlerResponse"
                        }
                    },
                    "400": {
                        "description": "Bad Request",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    }
                }
            }
        },
        "/user/self": {
            "get": {
                "security": [
                    {
                        "BearerAuth": []
                    }
                ],
                "description": "Returns the authenticated user's profile, including basic information and optional onboarding data.",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json"
                ],
                "tags": [
                    "user"
                ],
                "summary": "Get Current Authenticated User Profile",
                "operationId": "GetSelfUser",
                "responses": {
                    "200": {
                        "description": "OK",
                        "schema": {
                            "$ref": "#/definitions/user.GetSelfHandlerResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "404": {
                        "description": "Not Found",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    },
                    "500": {
                        "description": "Internal Server Error",
                        "schema": {
                            "$ref": "#/definitions/http.Error"
                        }
                    }
                }
            }
        }
    },
    "definitions": {
        "common.Emotion": {
            "type": "string",
            "enum": [
                "joy",
                "sadness",
                "anger",
                "surprise",
                "fear",
                "disgust",
                "neutral"
            ],
            "x-enum-varnames": [
                "EmotionJoy",
                "EmotionSadness",
                "EmotionAnger",
                "EmotionSurprise",
                "EmotionFear",
                "EmotionDisgust",
                "EmotionNeutral"
            ]
        },
        "http.Error": {
            "type": "object",
            "properties": {
                "message": {
                    "type": "string"
                }
            }
        },
        "oauth.AuthGoogleHandlerRequest": {
            "type": "object",
            "properties": {
                "code": {
                    "type": "string"
                }
            }
        },
        "oauth.AuthGoogleHandlerResponse": {
            "type": "object",
            "properties": {
                "access_token": {
                    "type": "string"
                },
                "refresh_token": {
                    "type": "string"
                }
            }
        },
        "oauth.StartGoogleHandlerResponse": {
            "type": "object",
            "properties": {
                "auth_url": {
                    "type": "string"
                }
            }
        },
        "user.GetSelfHandlerAdditionPartial": {
            "type": "object",
            "properties": {
                "concerns": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "emotions": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                }
            }
        },
        "user.GetSelfHandlerPrivacyPartial": {
            "type": "object",
            "properties": {
                "birthday": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                }
            }
        },
        "user.GetSelfHandlerResponse": {
            "type": "object",
            "properties": {
                "addition": {
                    "$ref": "#/definitions/user.GetSelfHandlerAdditionPartial"
                },
                "email": {
                    "type": "string"
                },
                "id": {
                    "type": "integer"
                },
                "privacy": {
                    "$ref": "#/definitions/user.GetSelfHandlerPrivacyPartial"
                },
                "username": {
                    "type": "string"
                }
            }
        },
        "user.UpsertAdditionHandlerRequest": {
            "type": "object",
            "properties": {
                "concerns": {
                    "type": "array",
                    "items": {
                        "type": "string"
                    }
                },
                "emotions": {
                    "type": "array",
                    "items": {
                        "$ref": "#/definitions/common.Emotion"
                    }
                }
            }
        },
        "user.UpsertAdditionHandlerResponse": {
            "type": "object",
            "properties": {
                "success": {
                    "type": "boolean"
                }
            }
        },
        "user.UpsertPrivacyHandlerRequest": {
            "type": "object",
            "properties": {
                "birthday": {
                    "type": "string"
                },
                "gender": {
                    "type": "string"
                }
            }
        },
        "user.UpsertPrivacyHandlerResponse": {
            "type": "object",
            "properties": {
                "success": {
                    "type": "boolean"
                }
            }
        }
    },
    "securityDefinitions": {
        "BearerAuth": {
            "type": "apiKey",
            "name": "Authorization",
            "in": "header"
        }
    }
}