basePath: /api/v1
definitions:
  oauth.AuthGoogleHandlerResponse:
    properties:
      access_token:
        type: string
      refresh_token:
        type: string
    type: object
  oauth.StartGoogleHandlerResponse:
    properties:
      auth_url:
        type: string
    type: object
  user.GetSelfHandlerResponse:
    properties:
      email:
        type: string
      id:
        type: integer
      username:
        type: string
    type: object
host: ondaum.revimal.me
info:
  contact: {}
  description: This is a API server for Ondaum
  title: Ondaum API
  version: "1.0"
paths:
  /oauth/google/auth:
    get:
      consumes:
      - application/json
      description: Receives the authorization code (obtained from Google OAuth) and
        exchanges it for access and refresh tokens.
      operationId: ExchangeGoogleOAuthCode
      parameters:
      - description: Authorization Code (received from Google OAuth)
        in: query
        name: code
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/oauth.AuthGoogleHandlerResponse'
        "400":
          description: Bad Request
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      summary: Exchange Google OAuth Code for Tokens
      tags:
      - oauth
  /oauth/google/start:
    get:
      consumes:
      - application/json
      description: Returns the Google OAuth authorization URL, which includes the
        specified redirect URI (the URL where Google will send the authorization code
        after login).
      operationId: StartGoogleOAuth
      parameters:
      - description: Redirect URI (the client's callback URL where Google will redirect
          with the code)
        in: query
        name: redirect
        required: true
        type: string
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/oauth.StartGoogleHandlerResponse'
        "400":
          description: Bad Request
          schema:
            type: string
      summary: Get Google OAuth Authorization URL
      tags:
      - oauth
  /user/self:
    get:
      consumes:
      - application/json
      description: This API returns the user's information.
      operationId: GetSelfUser
      produces:
      - application/json
      responses:
        "200":
          description: OK
          schema:
            $ref: '#/definitions/user.GetSelfHandlerResponse'
        "401":
          description: Unauthorized
          schema:
            type: string
        "404":
          description: Not Found
          schema:
            type: string
        "500":
          description: Internal Server Error
          schema:
            type: string
      security:
      - BearerAuth: []
      summary: Get Self User Information
      tags:
      - user
securityDefinitions:
  BearerAuth:
    in: header
    name: Authorization
    type: apiKey
swagger: "2.0"
